
body {
   background: #454545;
   text-align: center;
   padding: 150px;
}

h1 { font-size: 35px; }
h2 { font-size: 50px; color: #dc8100; }

body { font: 20px Helvetica, sans-serif; color: 	#c9c9e8; }

a {
  display: block;
  text-align: center;
  width: auto;
  margin-top: 100px;
  color: #dc8100;
  font-size: 40px;
  text-decoration: underline overline;
}

a:hover { color: #333; text-decoration: underline overline; font-size: 50px; }

img {
}

body {
         overflow-y:hidden;
       }
